.topBar {display: flex; padding-top: 20px; padding-bottom: 20px; background-color: #26292e;}
.title {flex: 7; padding-left: 25px;color: #949598;}
.picture {flex: 1; align-content: center;}

.containerLvl2 {padding-top: 1px; padding-left: 20px; background-color: #e7718b ; color: #ffffff;}
.wrap1 {display: flex;}
.text {flex: 1; width: 400px; padding-right: 50px;}
.laptopPic {flex: 1; padding-right: 50px; vertical-align: top;}
.laptopPic img {padding-top: 15px; width: 300px;}
.text h2 {margin-bottom: -10px;}