body {background-color: rgb(242, 243, 245);}
.leftLink
{
    height: 5px;
    bottom: 5px;
    margin-left: 295px;
    margin-right: 510px;   
}
.topBar
{
    display: flex;
    background-color: rgb(25, 41, 58);
    color: aliceblue;
}
.flexContainer
{
    display: flex;
    margin-left: 290px;
    margin-right: 292px;
}
.Detroix {flex: 1; padding-top: 20px;}
.buttons
{

    flex: 1; margin-top: 25px;
    padding-top: 33px;
    text-align: end;
}
.buttons input {border-radius: 3px;}
.home {background-color: rgb(25, 41, 58); color: aliceblue;}
.about {background-color: rgb(25, 41, 58); color: aliceblue;}
.serviceB {background-color: rgb(25, 41, 58); color: aliceblue;}
.faqs {background-color: rgb(25, 41, 58); color: aliceblue;}
.contacts {background-color: rgb(25, 41, 58); color: aliceblue;}

.img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.carouselButtons div
{
    display: inline-block;
    background-color: gray;
    color: gray;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.carouselButtons {text-align: center; padding-bottom: 10px;}
.flexContainer1
{
    display: flex;
    margin-left: 290px;
    margin-right: 290px;   
}
.smart
{
    border-top: 1px solid rgb(105, 103, 103);
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1;
}
.strong
{
    border-top: 1px solid rgb(105, 103, 103);
    border-left: 1px solid rgb(105, 103, 103);
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1;
}
.stable
{
    border-top: 1px solid rgb(105, 103, 103);
    border-left: 1px solid rgb(105, 103, 103);
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1;
}
.more {background-color: rgb(25, 41, 58); color: aliceblue;}
input {border-radius: 3px;}
.flexContainer2
{
    display: flex;
    margin-left: 285px;
    margin-right: 300px;
    background-color: rgb(25, 41, 58);
    color: gray;
}
.flexContainer2 h2 {color: aliceblue;}
.services
{
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 20px;
    flex: 1;
}
.services ul {padding-inline-start: 18px;}
.opportunities
{
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1;
}
.opportunities ul {padding-inline-start: 18px;}
.news
{
    padding-left: 20px;
    padding-bottom: 20px;
    flex: 1;
}
.opportunities li {color:aliceblue}

.flexWrap {display: flex;}
.flexWrap span {color: aliceblue;}
.img1 {width: 64px; height: 70px;}
.pGrph1
{
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.flexWrap h4 {color: aliceblue;}
.img2 {width: 64px; height: 72px;}
.pGrph2
{
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.img3 {width: 62px; height: 75px;}
.pGrph3
{
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 20px;
}
.bottomBar
{
    display: flex;
    padding-left: 20px;
    margin-left: 285px;
    margin-right: 300px;
    background-color: rgb(14, 30, 49);
    color: aliceblue
}