.flexWrap
{
    display: flex;
    border-bottom-style: inset;
    border-bottom-color: #2d2a3d;
    background-color: #262336;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.box
{  
    background-color: #706d8a;
    color: #fcfcfb;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-family: sans-serif;
}
.o {margin-top: -30px; font-size: x-large;}
.two {margin-top: -10px;}
.airBox {flex: 1; padding-left: 20px; color: #fcfcfb;}
.airBox h3
{
    margin-block-start: 10px;
    margin-block-end: 0;
}
.airBox p {margin-block-start: 0em;}
.linkTabs p {display: inline-block; color: #68647d; padding-right: 20px;}
.linkTabs {justify-content: center; margin-top: 30px;}
.midContainer
{
    background-color: #262336;
    text-align: center;
    place-content: space-between;
    padding-bottom: 80px;
}
.midContainer h2
{
    font-weight: bolder;
    margin-block-start: 15px;
    background: #D1D0D6;
    background: linear-gradient(to bottom, #D1D0D6 0%, #817D92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.midContainer h1 {color: #ffffff; margin-block-start: -25px; margin-block-end: -20px;}
.pGrph {color: #68647d; margin-left: 530px; margin-right: 530px; margin-bottom: -10px;}
.midContainer input
{
    border-style: hidden;
    border-radius: 5px;
    background-color:#a19bbe;
    color: #edffff; 
    height: 35px;
    width: 75px;
}
.flexContainer 
{
    display:flex;
    background-color: #f29b66;
    text-align: center;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.control {flex: 1; padding-right: 100px;}
.control h2{color: #fcfdfa; margin-block-start: 0px; margin-block-end: 0px;}
.control h3{color: #dcdbe0; margin-block-start: 0px; margin-block-end: 0px;}
.control p{color: #000000;margin-block-start: 0px; margin-block-end: 0px;}

.multiDomain {flex: 1; padding-right: 100px;}
.multiDomain h2{color: #fcfdfa; margin-block-start: 0px; margin-block-end: 0px;}
.multiDomain h3{color: #dcdbe0; margin-block-start: 0px; margin-block-end: 0px;}
.multiDomain p{color: #000000; margin-block-start: 0px; margin-block-end: 0px;}

.ftp {flex: 1; padding-right: 100px;}
.ftp h2{color: #fcfdfa; margin-block-start: 0px; margin-block-end: 0px;}
.ftp h3{color: #dcdbe0; margin-block-start: 0px; margin-block-end: 0px;}
.ftp p{color: #000000; margin-block-start: 0px; margin-block-end: 0px;}

.direct {flex: 1;}
.direct h2{color: #fcfdfa; margin-block-start: 0px; margin-block-end: 0px;}
.direct h3{color: #dcdbe0; margin-block-start: 0px; margin-block-end: 0px;}
.direct p{color: #000000; margin-block-start: 0px; margin-block-end: 0px;}

.largeContainer {background-color: #e8e8ea; display:flex;}
.tag1 {flex: 1; text-align: center; padding-bottom: 50px; padding-left: 50px; padding-right: 50px;}
.tag2 {flex: 1; text-align: center; padding-left: 50px; padding-right: 50px;} 
.tag3 {flex: 1; text-align: center; padding-left: 50px; padding-right: 50px;}
.tag4 {flex: 1; text-align: center; padding-left: 50px; padding-right: 50px;}
.topBar
{
    background-color: #6f6c89; color: #c6c3c3;
    border: ridge; border-top-left-radius: 5px; border-top-right-radius:5px;
    height: 60px;
    margin-top: 20px;
}
span {color: #d85b12;}
.topBar h3 
{
    margin-block-end: -1em;background:
    linear-gradient(to bottom, #D1D0D6 0%, #817D92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.priceBar {background-color: #6f6c89; color: #dedbdb; border: ridge; height: 60px; margin-top: -2px;}
.priceBar h3 {margin-block-end: -1em;}
.diskSpace {background-color: #ffffff; color: #b3afaf; border: ridge; margin-top: -3px; height: 45px;}
.diskSpace p {margin-block-end: -1em;}
.bandWidth {background-color: #f5f0f0; color: #b3afaf; border: ridge; height: 30px;}
.bandWidth p {margin-block-end: -1em; margin-top: 8px;}
.emailAcct {background-color: #ffffff ; color: #b3afaf; border: ridge; height: 30px;}
.emailAcct p {margin-top: 8px; margin-bottom: 0px;}
.data {background-color: #f5f0f0; color: #b3afaf; border: ridge; height: 30px;}
.data p {margin-block-start: 7px; margin-block-end: 0em;}
.button {background-color: #ffffff; border: ridge; height: 35px;}
input {border-style: none; height: 25px; width: 100px; margin-top: 5px; background-color: #ed7b48; color: #ffffff; border-radius: 5px;}

.lastContainer { background-color: #262336; display: flex;}
.column1 {flex: 1; text-align: left; padding-bottom: 50px; padding-left: 50px; padding-right: 50px; color: #ffffff;}
.column2 {flex: 1; text-align: left; padding-left: 50px; padding-right: 50px;} 
.column3 {flex: 1; text-align: left; padding-left: 50px; padding-right: 50px;}
.column4 {flex: 1; text-align: left; padding-left: 50px; padding-right: 50px;}
.picture img {width: 1503px; height: 120px;}

.lastWrap {background-color: #1a1921; display: flex; padding-top: 20px; padding-bottom: 20px;}
.lastWrap > .box
{  
    background-color: #706d8a;
    color: #fcfcfb;
    display: flex;
    align-self: center;
    margin-left: 30px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-family: sans-serif;
}
.boxO {margin-top: -26px; font-size: x-large;}
.boxTwo {margin-top: -20px;}
.lastWrap h5 {font-weight: lighter;}
.lastWrap h6 {font-weight: lighter;}
